<form action="/post/new" method="POST">
    <input type="text" name="title" placeholder="Title">
    <input type="url" name="link" placeholder="URL">
    <textarea name="text" cols="30" rows="10"></textarea>
    <button>Create</button>
</form>
